### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

*TEST_*
configs.json
__pycache__
localpackages/__pycache__/
TEST/
/MySQL Integration/configs.json
